.lato {
    font-family: Lato, sans-serif;
}
.merriweather-sans {
    font-family: "Merriweather Sans", sans-serif;
}
.source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
}
.tshadow-1 {
    text-shadow: 0 0 .33333em rgba( 0, 0, 0, .66667 );
}
.tshadow-2 {
    text-shadow: 0 0 .083333em rgba( 0, 0, 0, .75 );
}
.ml-1 {
    margin-left: -0.25rem;
}
.mr-3 {
    margin-right: -1rem;
}
@media (--breakpoint-large) {
    .social > :first-child {
        margin-left: 1rem;
    }
}
.f-4,
.f-title {
  font-size: 4rem;
}
@media (--breakpoint-not-small){
  .f-6-ns,
  .f-title-ns { font-size: 4rem; }
}
@media (--breakpoint-medium) {
  .f-4-m,
  .f-title-m { font-size: 4rem; }
}

@media (--breakpoint-large) {
  .f-4-l,
  .f-title-l { font-size: 4rem; }
}
